<div id="<%= dom_id phone %>">
  <p>
    <strong>User:</strong>
    <%= phone.user.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= phone.number %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= phone.kind %>
  </p>

</div>
